Repository 0xPolygon/zkevm-bridge-service, pull requests merged in 2024-02, with the labels that each got.

#582 db improve
  db/pgstorage/migrations/0008.sql
  db/pgstorage/migrations/0008_test.go
  db/storage_test.go
Labels: cla-signed, zkevm-bridge-sync-rpc

#585 Abf/fix
  claimtxman/claimtxman.go
  claimtxman/interfaces.go
  db/pgstorage/migrations/0008.sql
  db/pgstorage/pgstorage.go
  db/storage_test.go
  etherman/etherman.go
  etherman/types.go
  server/interfaces.go
  server/service.go
  synchronizer/mock_bridgectrl.go
  synchronizer/mock_dbtx.go
  synchronizer/mock_etherman.go
  synchronizer/mock_storage.go
  synchronizer/mock_zkevmclient.go
  synchronizer/synchronizer.go
  test/operations/interfaces.go
  test/operations/manager.go
Labels: cla-signed

#587 Fix UTs
  db/storage_test.go
Labels: cla-signed

#589 Avoid claiming another rollups deposits
  Makefile
  claimtxman/claimtxman.go
  docker-compose.yml
Labels: cla-signed, zkevm-bridge-sync-rpc

#592 Release/v0.4.1
  .github/workflows/push-docker.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  claimtxman/claimtxman.go
  docker-compose.yml
Labels: cla-signed, zkevm-bridge-sync-rpc

#594 Report right version on logs
  bridgectrl/bridgectrl.go
  bridgectrl/merkletree.go
  bridgectrl/merkletree_test.go
  claimtxman/claimtxman.go
  cmd/run.go
  config/config.go
  config/network.go
  db/pgstorage/migrations/utils_test.go
  db/pgstorage/pgstorage.go
  db/pgstorage/pgstorage_test.go
  db/pgstorage/utils.go
  etherman/etherman.go
  etherman/etherman_test.go
  etherman/simulated.go
  log/config.go
  log/log.go
  log/log_test.go
  scripts/cmd/main.go
  server/server.go
  server/service.go
  synchronizer/synchronizer.go
  test/benchmark/api_test.go
  test/operations/manager.go
  test/scripts/claim/main.go
  test/scripts/deposit/main.go
  test/scripts/forcebatchproposal/main.go
  test/scripts/initialClaim/main.go
  utils/client.go
Labels: bug, cla-signed, zkevm-bridge-sync-rpc
